<form @submit.prevent>
  <div>
    选择服务器：
    <label class="radio-inline">
      <input type="radio" name="server" value="https://localhost:8443/tom" v-model="serverRoot">
      开发环境（https://localhost:8443/tom）
    </label>
    <label class="radio-inline">
      <input type="radio" name="server" value="https://192.168.10.16:8443" v-model="serverRoot"> UAT
      环境（https://192.168.10.16:8443）
    </label>
    <label class="radio-inline">
      <input type="radio" name="server" value="https://wms.yi-express.com" v-model="serverRoot">
      生产环境（https://wms.yi-express.com）
    </label>
  </div>
  <button type="button" @click="login">登录到 Tom</button>
  <div v-show="showLoginError">登录失败！</div>
</form>
